:root {
  --md-source: #134E4A;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #001413;
  --md-ref-palette-primary10: #00201E;
  --md-ref-palette-primary20: #003734;
  --md-ref-palette-primary25: #00433F;
  --md-ref-palette-primary30: #00504B;
  --md-ref-palette-primary35: #005D58;
  --md-ref-palette-primary40: #006A64;
  --md-ref-palette-primary50: #00857F;
  --md-ref-palette-primary60: #00A29A;
  --md-ref-palette-primary70: #25BEB5;
  --md-ref-palette-primary80: #4FDBD1;
  --md-ref-palette-primary90: #71F7ED;
  --md-ref-palette-primary95: #B1FFF7;
  --md-ref-palette-primary98: #E4FFFB;
  --md-ref-palette-primary99: #F2FFFC;
  --md-ref-palette-primary100: #FFFFFF;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #001413;
  --md-ref-palette-secondary10: #051F1E;
  --md-ref-palette-secondary20: #1C3532;
  --md-ref-palette-secondary25: #27403D;
  --md-ref-palette-secondary30: #324B49;
  --md-ref-palette-secondary35: #3E5754;
  --md-ref-palette-secondary40: #4A6360;
  --md-ref-palette-secondary50: #627C79;
  --md-ref-palette-secondary60: #7B9693;
  --md-ref-palette-secondary70: #96B1AD;
  --md-ref-palette-secondary80: #B0CCC8;
  --md-ref-palette-secondary90: #CCE8E4;
  --md-ref-palette-secondary95: #DAF7F3;
  --md-ref-palette-secondary98: #E4FFFB;
  --md-ref-palette-secondary99: #F2FFFC;
  --md-ref-palette-secondary100: #FFFFFF;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #001223;
  --md-ref-palette-tertiary10: #001D34;
  --md-ref-palette-tertiary20: #18324A;
  --md-ref-palette-tertiary25: #243D56;
  --md-ref-palette-tertiary30: #304962;
  --md-ref-palette-tertiary35: #3C546E;
  --md-ref-palette-tertiary40: #48617B;
  --md-ref-palette-tertiary50: #617994;
  --md-ref-palette-tertiary60: #7A93AF;
  --md-ref-palette-tertiary70: #94AECB;
  --md-ref-palette-tertiary80: #AFC9E7;
  --md-ref-palette-tertiary90: #CFE5FF;
  --md-ref-palette-tertiary95: #E9F1FF;
  --md-ref-palette-tertiary98: #F7F9FF;
  --md-ref-palette-tertiary99: #FCFCFF;
  --md-ref-palette-tertiary100: #FFFFFF;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2D0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7E0007;
  --md-ref-palette-error30: #93000A;
  --md-ref-palette-error35: #A80710;
  --md-ref-palette-error40: #BA1A1A;
  --md-ref-palette-error50: #DE3730;
  --md-ref-palette-error60: #FF5449;
  --md-ref-palette-error70: #FF897D;
  --md-ref-palette-error80: #FFB4AB;
  --md-ref-palette-error90: #FFDAD6;
  --md-ref-palette-error95: #FFEDEA;
  --md-ref-palette-error98: #FFF8F7;
  --md-ref-palette-error99: #FFFBFF;
  --md-ref-palette-error100: #FFFFFF;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0E1211;
  --md-ref-palette-neutral10: #191C1C;
  --md-ref-palette-neutral20: #2D3130;
  --md-ref-palette-neutral25: #383C3B;
  --md-ref-palette-neutral30: #444747;
  --md-ref-palette-neutral35: #4F5352;
  --md-ref-palette-neutral40: #5B5F5E;
  --md-ref-palette-neutral50: #747877;
  --md-ref-palette-neutral60: #8E9190;
  --md-ref-palette-neutral70: #A9ACAB;
  --md-ref-palette-neutral80: #C4C7C6;
  --md-ref-palette-neutral90: #E0E3E2;
  --md-ref-palette-neutral95: #EFF1F0;
  --md-ref-palette-neutral98: #F7FAF8;
  --md-ref-palette-neutral99: #FAFDFB;
  --md-ref-palette-neutral100: #FFFFFF;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #091312;
  --md-ref-palette-neutral-variant10: #141D1C;
  --md-ref-palette-neutral-variant20: #293231;
  --md-ref-palette-neutral-variant25: #343D3C;
  --md-ref-palette-neutral-variant30: #3F4947;
  --md-ref-palette-neutral-variant35: #4A5453;
  --md-ref-palette-neutral-variant40: #56605F;
  --md-ref-palette-neutral-variant50: #6F7977;
  --md-ref-palette-neutral-variant60: #899391;
  --md-ref-palette-neutral-variant70: #A3ADAB;
  --md-ref-palette-neutral-variant80: #BEC9C7;
  --md-ref-palette-neutral-variant90: #DAE5E2;
  --md-ref-palette-neutral-variant95: #E9F3F1;
  --md-ref-palette-neutral-variant98: #F1FCF9;
  --md-ref-palette-neutral-variant99: #F4FEFC;
  --md-ref-palette-neutral-variant100: #FFFFFF;
  /* light */
  --md-sys-color-primary-light: #006A64;
  --md-sys-color-on-primary-light: #FFFFFF;
  --md-sys-color-primary-container-light: #71F7ED;
  --md-sys-color-on-primary-container-light: #00201E;
  --md-sys-color-primary-fixed-light: #71F7ED;
  --md-sys-color-on-primary-fixed-light: #00201E;
  --md-sys-color-primary-fixed-dim-light: #4FDBD1;
  --md-sys-color-on-primary-fixed-variant-light: #00504B;
  --md-sys-color-secondary-light: #4A6360;
  --md-sys-color-on-secondary-light: #FFFFFF;
  --md-sys-color-secondary-container-light: #CCE8E4;
  --md-sys-color-on-secondary-container-light: #051F1E;
  --md-sys-color-secondary-fixed-light: #CCE8E4;
  --md-sys-color-on-secondary-fixed-light: #051F1E;
  --md-sys-color-secondary-fixed-dim-light: #B0CCC8;
  --md-sys-color-on-secondary-fixed-variant-light: #324B49;
  --md-sys-color-tertiary-light: #48617B;
  --md-sys-color-on-tertiary-light: #FFFFFF;
  --md-sys-color-tertiary-container-light: #CFE5FF;
  --md-sys-color-on-tertiary-container-light: #001D34;
  --md-sys-color-tertiary-fixed-light: #CFE5FF;
  --md-sys-color-on-tertiary-fixed-light: #001D34;
  --md-sys-color-tertiary-fixed-dim-light: #AFC9E7;
  --md-sys-color-on-tertiary-fixed-variant-light: #304962;
  --md-sys-color-error-light: #BA1A1A;
  --md-sys-color-on-error-light: #FFFFFF;
  --md-sys-color-error-container-light: #FFDAD6;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-outline-light: #6F7977;
  --md-sys-color-background-light: #FAFDFB;
  --md-sys-color-on-background-light: #191C1C;
  --md-sys-color-surface-light: #F7FAF8;
  --md-sys-color-on-surface-light: #191C1C;
  --md-sys-color-surface-variant-light: #DAE5E2;
  --md-sys-color-on-surface-variant-light: #3F4947;
  --md-sys-color-inverse-surface-light: #2D3130;
  --md-sys-color-inverse-on-surface-light: #EFF1F0;
  --md-sys-color-inverse-primary-light: #4FDBD1;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #006A64;
  --md-sys-color-outline-variant-light: #BEC9C7;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-container-highest-light: #E0E3E2;
  --md-sys-color-surface-container-high-light: #E6E9E7;
  --md-sys-color-surface-container-light: #ECEEED;
  --md-sys-color-surface-container-low-light: #F2F4F3;
  --md-sys-color-surface-container-lowest-light: #FFFFFF;
  --md-sys-color-surface-bright-light: #F7FAF8;
  --md-sys-color-surface-dim-light: #D8DBD9;
  /* dark */
  --md-sys-color-primary-dark: #4FDBD1;
  --md-sys-color-on-primary-dark: #003734;
  --md-sys-color-primary-container-dark: #00504B;
  --md-sys-color-on-primary-container-dark: #71F7ED;
  --md-sys-color-primary-fixed-dark: #71F7ED;
  --md-sys-color-on-primary-fixed-dark: #00201E;
  --md-sys-color-primary-fixed-dim-dark: #4FDBD1;
  --md-sys-color-on-primary-fixed-variant-dark: #00504B;
  --md-sys-color-secondary-dark: #B0CCC8;
  --md-sys-color-on-secondary-dark: #1C3532;
  --md-sys-color-secondary-container-dark: #324B49;
  --md-sys-color-on-secondary-container-dark: #CCE8E4;
  --md-sys-color-secondary-fixed-dark: #CCE8E4;
  --md-sys-color-on-secondary-fixed-dark: #051F1E;
  --md-sys-color-secondary-fixed-dim-dark: #B0CCC8;
  --md-sys-color-on-secondary-fixed-variant-dark: #324B49;
  --md-sys-color-tertiary-dark: #AFC9E7;
  --md-sys-color-on-tertiary-dark: #18324A;
  --md-sys-color-tertiary-container-dark: #304962;
  --md-sys-color-on-tertiary-container-dark: #CFE5FF;
  --md-sys-color-tertiary-fixed-dark: #CFE5FF;
  --md-sys-color-on-tertiary-fixed-dark: #001D34;
  --md-sys-color-tertiary-fixed-dim-dark: #AFC9E7;
  --md-sys-color-on-tertiary-fixed-variant-dark: #304962;
  --md-sys-color-error-dark: #FFB4AB;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-error-container-dark: #93000A;
  --md-sys-color-on-error-container-dark: #FFDAD6;
  --md-sys-color-outline-dark: #899391;
  --md-sys-color-background-dark: #191C1C;
  --md-sys-color-on-background-dark: #E0E3E2;
  --md-sys-color-surface-dark: #101414;
  --md-sys-color-on-surface-dark: #C4C7C6;
  --md-sys-color-surface-variant-dark: #3F4947;
  --md-sys-color-on-surface-variant-dark: #BEC9C7;
  --md-sys-color-inverse-surface-dark: #E0E3E2;
  --md-sys-color-inverse-on-surface-dark: #191C1C;
  --md-sys-color-inverse-primary-dark: #006A64;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #4FDBD1;
  --md-sys-color-outline-variant-dark: #3F4947;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-container-highest-dark: #323535;
  --md-sys-color-surface-container-high-dark: #272B2A;
  --md-sys-color-surface-container-dark: #1D2020;
  --md-sys-color-surface-container-low-dark: #191C1C;
  --md-sys-color-surface-container-lowest-dark: #0B0F0E;
  --md-sys-color-surface-bright-dark: #363A39;
  --md-sys-color-surface-dim-dark: #101414;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Poppins;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Poppins;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Poppins;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Poppins;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Poppins;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Poppins;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Poppins;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Poppins;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Poppins;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Poppins;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Poppins;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Poppins;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Poppins;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Poppins;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Poppins;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
